XLSR_MODEL_ID=lab260/Spectra-AASIST3

HIVE_API_KEY=your_hive_api_key_here
HIVE_API_URL=https://api.thehive.ai/api/v3/hive/ai-generated-and-deepfake-content-detection

GOOGLE_STT_API_KEY=
GOOGLE_STT_ACCESS_TOKEN=
GOOGLE_STT_PRIMARY_LANGUAGE=en-IN
GOOGLE_STT_ALT_LANGUAGES=hi-IN
